@model Tickets.Models.Ticket_Message

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ticket_Message</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Admin.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Fullname)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Msg_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
